* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12%;
  left: 15%;
}
nav ul {
  background: linear-gradient(180deg, gray, rgb(75, 75, 75), gray);
  padding: 0.6rem;
  border-radius: 7px;
  width: 1100px;
  position: absolute;
  left: 17%;
  right: 5%;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  padding: 0.9rem 2.6rem 0.9rem 2rem;
  text-decoration: none;
  color: white;
  border-right: 0.4px solid rgba(65, 64, 64, 0.966);
  margin-left: -0.5rem;
}
nav a:hover {
  background: linear-gradient(
    180deg,
    rgb(39, 39, 39),
    rgb(75, 75, 75),
    rgb(31, 31, 31)
  );
}
nav a:nth-child(1):hover {
  border-radius: 7px;
}
nav li:nth-child(8) {
  display: inline-block;
  text-align: center;
}

nav input {
  background: linear-gradient(180deg, gray, rgb(75, 75, 75));
  padding: 6px;
  border: 0.5px solid black;
  border-radius: 20px;
  align-content: center;
  margin-left: 3rem;
}

nav input:focus {
  outline: none;
}

.fa-apple {
  font-size: 23px;
  color: linear-gradient(180deg, white, rgb(160, 160, 160, rgb(26, 26, 26)));
}

.first-section {
  position: static;
  background-size: cover;
  display: grid;
  grid-template-rows: 3fr 1fr;
  width: 100vw;
  height: 100vh;
}

.first-article {
  background: url(img/hero.jpg) 50% 100% no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
}
.first-article h1,
.first-article h4,
.first-article h5 {
  position: relative;
  top: 40%;
  color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}
.product-list img {
  width: 100%;
}
footer {
  padding: 2rem;
  font-size: 12px;
}
.footer-one {
  display: flex;
  padding-bottom: 1rem;
}

.footer-one ul {
  display: flex;
  list-style: none;
  justify-items: right;
  position: absolute;
  right: 1rem;
}
.footer-one li {
  padding: 8px;
}
.footer-one img {
  width: 1.2rem;
}
footer a {
  color: #46b7f1;
}
